%btn {
   font-weight: 600;
   font-size: 13px;
   line-height: 16px;
   text-align: center;
   color: $white;
   background-color: $light-blue;

   &:hover {
      background-color: $hover;
      transition: ease 0.3s;
   }
}