$content-width: 1150px;
$default-font-family: 'Montserrat', sans-serif;
$default-font-size: 12px;
$black: #000;
$white: #fff;
$gray: #565656;
$light-blue: #098FCF;
$dark-blue: #043C77;
$border-input: #D5D5D5;
$hover: #b3e5fc;
$menu-hover: #e7f3f9;
$border: #E7E7E7;
$visited: #02182f;



$breakpoint_xl: 960px;
$breakpoint_md: 768px;
$breakpoint_sm: 320px;